package db

import (
	"os"

	"github.com/ArakiTakaki/100DaysOfCode/001/controller/foundation/databases"
	// MySQL
	_ "github.com/jinzhu/gorm/dialects/mysql"
)

func Migration (*gorm.DB){
	{{.Attributes}}
}